extends layout

block content
  h1 All Capital Cities
  p Sort by:
    a(href="/capital-city-report?sort-by=name" class=(sortBy === 'Name ASC' ? 'active' : '')) Name
    |  |
    a(href="/capital-city-report?sort-by=population" class=(sortBy === 'Population DESC' ? 'active' : '')) Population
    |  |
    a(href="/capital-city-report?sort-by=continent" class=(sortBy === 'Continent DESC' ? 'active' : '')) Continent
    |  |
    a(href="/capital-city-report?sort-by=region" class=(sortBy === 'Region DESC' ? 'active' : '')) Region
  table
    thead
      tr
        th City
        th Country
        th Continent 
        th Region
        th Population
    tbody
      each row in rows
        tr
          td= row.City
          td= row.Country
          td(data-tippy-content=row.Continent) #{row.Continent}
          td #{row.Region}
          - const population = new Intl.NumberFormat().format(row.Population);
          td.fit.number(data-tippy-content=population) #{population}
