extends layout

block content
  h1 All Capital Cities
  p Sort by:
    a(href="/capital-city-report?sort-by=name" class=(sortBy === 'Name ASC' ? 'active' : '')) Name
    |  |
    a(href="/capital-city-report?sort-by=population" class=(sortBy === 'Population DESC' ? 'active' : '')) Population
    |  |
    a(href="/capital-city-report?sort-by=continent" class=(sortBy === 'Continent DESC' ? 'active' : '')) Continent
    |  |
    a(href="/capital-city-report?sort-by=region" class=(sortBy === 'Region DESC' ? 'active' : '')) Region
  form(method="get" action="/countries")
    label(for="limit") Show:
    select(name="limit" id="limit")
      option(value="10" selected) 10
      option(value="20") 20
      option(value="50") 50
      option(value="100") 100
    button(type="submit") Go
  table(style="border-collapse: collapse; width: 100%;")
    thead(style="background-color: #f2f2f2;")
      tr
        th City
        th Country
        th Continent 
        th Region
        th Population
    tbody
      each row in rows
        tr(style="background-color: #{row.Color}")
          td= row.City
          td= row.Country
          td(data-tippy-content=row.Continent) #{row.Continent}
          td #{row.Region}
          - const population = new Intl.NumberFormat().format(row.Population);
          td.fit.number(data-tippy-content=population) #{population}
