extends layout

block content
  h1 All Cities
  p Sort by:
    a(href="/cities?sort-by=name" class=(sortBy === 'Name ASC' ? 'active' : '')) Name
    |  |
    a(href="/cities?sort-by=population" class=(sortBy === 'Population DESC' ? 'active' : '')) Population
    |  |
    a(href="/cities?sort-by=district" class=(sortBy === 'District DESC' ? 'active' : '')) District
  table
    thead
      tr
        th Name
        th CountryCode
        th District
        th Population
    tbody
      each row in rows
        tr
          td
            a(href=`/cities/${row.ID}`) #{row.Name}
          td.fit(data-tippy-content=row.Country ? row.Country.Name : '') #{row.CountryCode}
          td(data-tippy-content=row.District) #{row.District}
          - const population = new Intl.NumberFormat().format(row.Population);
          td.fit.number(data-tippy-content=population) #{population}
