extends layout

block content
  h1 All Cities
  p Sort by:
    a(href="/cities?sort-by=name" class=(sortBy === 'Name ASC' ? 'active' : '')) Name
    |  |
    a(href="/cities?sort-by=population" class=(sortBy === 'Population DESC' ? 'active' : '')) Population
    |  |
    a(href="/cities?sort-by=continent" class=(sortBy === 'Continent DESC' ? 'active' : '')) Continent
    |  |
    a(href="/cities?sort-by=region" class=(sortBy === 'Region DESC' ? 'active' : '')) Region
    |  |
    a(href="/cities?sort-by=district" class=(sortBy === 'District DESC' ? 'active' : '')) District
  form(method="get" action="/countries")
    label(for="limit") Show:
    select(name="limit" id="limit")
      option(value="10" selected) 10
      option(value="20") 20
      option(value="50") 50
      option(value="100") 100
    button(type="submit") Go
  table(style="border-collapse: collapse; width: 100%;")
    thead(style="background-color: #f2f2f2;")
      tr
        th Name
        th Country
        th Continent
        th Region
        th District
        th Population
    tbody
      each row in rows
        tr(style="background-color: #{row.Color}")
          td(style="text-align: left; padding: 8px; border: 1px solid #ddd;")
            a(href=`/cities/${row.Code}`) #{row.Name}
          td.fit(data-tippy-content=row.Country ? row.Country.Name : '' style="text-align: left; padding: 8px; border: 1px solid #ddd;") #{row.Country}
          td(style="text-align: center; padding: 8px; border: 1px solid #ddd;" data-tippy-content=row.Continent) #{row.Continent}
          td(style="text-align: center; padding: 8px; border: 1px solid #ddd;") #{row.Region}
          td(data-tippy-content=row.District style="text-align: center; padding: 8px; border: 1px solid #ddd;") #{row.District}
          - const population = new Intl.NumberFormat().format(row.Population);
          td.fit.number(data-tippy-content=population style="text-align: center; padding: 8px; border: 1px solid #ddd;") #{population}
