extends layout

block content 
    h2 #{city.name}
    p #{city.country.name}, #{city.country.region}
    form(action=`/cities/${city.id}`, method="POST")
        input(type="text", name="name", placeholder=city.name)
        input(type="submit")