extends layout

block content
  h1 All Countries
  p Sort by:
    a(href="/countries?sort-by=name" class=(sortBy === 'Name ASC' ? 'active' : '')) Name
    |  |
    a(href="/countries?sort-by=population" class=(sortBy === 'Population DESC' ? 'active' : '')) Population
    |  |
    a(href="/countries?sort-by=continent" class=(sortBy === 'Continent DESC' ? 'active' : '')) Continent
    |  |
    a(href="/countries?sort-by=region" class=(sortBy === 'Region DESC' ? 'active' : '')) Region
  form(method="get" action="/countries")
    label(for="limit") Show:
    select(name="limit" id="limit")
      option(value="10" selected) 10
      option(value="20") 20
      option(value="50") 50
      option(value="100") 100
    button(type="submit") Go
  table
    thead
      tr
        th Code
        th Name
        th Continent
        th Region
        th Population
        th Capital
    tbody
      each row in rows                                                                                                                                                                                                       
        tr
          td.fit(data-tippy-content=row.Code) #{row.Code}
          td
            a(href=`/countries/${row.Code}`) #{row.Name}
          td(data-tippy-content=row.Continent) #{row.Continent}
          td #{row.Region}
          - const population = new Intl.NumberFormat().format(row.Population);
          td.fit.number(data-tippy-content=population) #{population}
          td #{row.Capital}
